body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(255, 41, 41, 0.1);
}

main p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

form {
    margin-top: 20px;
}

strong{
    color: #fff;
    padding: 5px 5px;
    background-color: #000;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.header .title .a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
}

.btn {
    text-align: center;
}

.res {
    display: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
}

#nome{
    color: #007bff;
    padding: 5px 5px;
    background-color: #fff;
}

#raio{
    width: 100%;
    padding: 10px 5px; ;
    border: 1px solid #767373;
    border-radius: 4px;
    margin-bottom: 10px;
}