body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header{
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(255, 41, 41, 0.1);
}
strong{
    color: #fff;
    padding: 5px 5px;
    background-color: #000;
}
a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.resultado {
    display: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
}

#nome{
    color: #007bff;
    padding: 5px 5px;
    background-color: #fff;
  }

#baseMaior{
    width: 100%;
    padding: 10px 5px; ;
    border: 1px solid #767373;
    border-radius: 4px;
    margin-bottom: 10px;
}
#baseMenor{
    width: 100%;
    padding: 10px 5px; ;
    border: 1px solid #767373;
    border-radius: 4px;
    margin-bottom: 10px;
}
#altura{
    width: 100%;
    padding: 10px 5px; ;
    border: 1px solid #767373;
    border-radius: 4px;
    margin-bottom: 10px;
}

#button {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    text-align: center;
}